
:root {
  --primary-color: #0b1455; /* Ciemnoniebieski */
  --secondary-color: #1cdc6a; /* Zielony */
  --error-color: #dc3545; /* Czerwony dla błędów */
  --background-color: #f8faff; /* Jasne tło */
  --input-border-color: #ddd;
  --input-focus-border-color: #007bff;
  --text-color: #0b1455; /* Kolor tekstu */
  --font-family: 'Titillium Web', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  font-family: var(--font-family); /* Dodanie głównej czcionki */
}

.login-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-family: var(--font-family);
}

.error-message {
  color: var(--error-color);
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
}

.input-label {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-family: var(--font-family);
}

.login-input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.login-input::placeholder {
  color: var(--text-color);
  opacity: 0.7; /* Zmniejszona przezroczystość dla placeholdera */
}

.login-input:focus {
  border-color: var(--input-focus-border-color);
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.reset-password-link {
  color: var(--input-focus-border-color);
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: underline;
  font-family: var(--font-family);
  background: none;
  border: none;
  padding: 0;
  font-size: 0.9rem;
}

.reset-password-link:hover {
  color: #0056b3;
}

.reset-password-container {
  margin-top: 2rem;
}

.reset-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #218838;
}

.divider {
  margin: 1.5rem 0;
  font-size: 0.9rem;
  color: #666;
  font-family: var(--font-family);
}

.google-button,
.facebook-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
}

.google-button {
  background-color: #db4437;
}

.google-button:hover {
  background-color: #c13a2f;
}

.facebook-button {
  background-color: #3b5998;
}

.facebook-button:hover {
  background-color: #2d4373;
}

/* Stylizacja ikony */
.icon {
  font-size: 1.2rem;
}

.register-link {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  font-family: var(--font-family);
}

.register-link a {
  color: var(--input-focus-border-color);
  text-decoration: none;
}

.register-link a:hover {
  color: #0056b3;
}
